* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.outer {
  margin: 0 10px;
  -webkit-box-shadow: 0 0 1.8rem 0.2rem #120f22b7;
          box-shadow: 0 0 1.8rem 0.2rem #120f22b7;
  background-color: aquamarine;
  height: 1000px;
}

.navbar {
  background-color: #120f2200;
  font-size: 1.8rem;
}

.navbar ul li a {
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar ul li a:hover {
  -webkit-transform: scale(0.91);
          transform: scale(0.91);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar ul li a::after {
  content: "";
  width: 0;
  height: 0.3rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #621ffd;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar ul li .act::before {
  content: "";
  width: 100%;
  height: 0.05rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar ul li .act::after {
  content: "";
  width: 100%;
  height: 0.05rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar .socialIcon {
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}

.navbar .socialIcon i:hover {
  -webkit-box-shadow: 0 0 1rem 0.2rem #dfe1eb inset;
          box-shadow: 0 0 1rem 0.2rem #dfe1eb inset;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  border: none;
}

.navbar .socialIcon .fa {
  width: 4rem;
  height: 4rem;
  border: 0.01rem solid white;
  border-radius: 50%;
  margin: 0.3rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .socialIcon .fa-facebook:hover {
  color: #161aeb;
}

.navbar .socialIcon .fa-instagram:hover {
  color: #ed127c;
}

.navbar .socialIcon .fa-youtube-play:hover {
  color: red;
}

.navbar .socialIcon .fa-twitter:hover {
  color: #a9d0e5;
}

#img {
  height: 90vh;
}

.homeAbout {
  background: #161aeb url("../img/ABOUT-US-BG.jpg");
  min-height: 50rem;
  position: relative;
}

.homeAbout .imgbox {
  height: 100%;
  width: 50vw;
}

.homeAbout img {
  height: 100%;
  width: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.homeAbout .home-about-text {
  margin: 1rem auto;
  position: absolute;
  top: 5rem;
  right: 2rem;
  height: 100%;
}

.homeAbout .home-about-text h2 {
  color: white;
  font-size: 4rem;
  font-weight: bolder;
}

.homeAbout .home-about-text p {
  text-align: justify;
  color: white;
  font-size: 2rem;
}

@media (max-width: 520px) {
  .homeAbout {
    display: block;
  }
  .homeAbout img {
    display: block;
    width: 90%;
  }
  .home-about-text {
    padding: .5rem 1rem;
    display: block;
    top: .5rem;
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */