/* --------------start about us------------- */
#aboutbox{
    /* background-color: #0b5c9e; */
    background: url(img/ABOUT-US-BG.jpg);
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 255, 0.2);
}
#contactaddr{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 255, 0.5) inset;
     transition: all .5s linear;
     border-radius: 25px;
     margin-top: 20px;
}
#contactaddr:hover{
    box-shadow: 4px 4px 10px 10px rgba(255, 255, 255, 0.9);
    background-color: rgba(217, 217, 255, 0.699);
    /* background-color: rgba(0, 0, 255, 0.699); */
    transform: translate(-10px, -6px);
    transition: all .5s linear;
}